html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: peachpuff;
}
.header {
  text-align: center;
  font-weight: bolder;
  padding: 20px 20px;
  background-color: rebeccapurple;
  font-size: xx-large;
  width: 50vw;
  margin: 20px auto;
}
.cake-flavor {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 10px;
  margin: 40px auto;
}
.child {
  border: 2px solid blue;
  background-color: lavender;
  box-shadow: 10px 5px 5px cornflowerblue;
  width: 20%;
  height: 260px;
  text-align: center;
  padding-top: 11rem;
}
.image-1 {
  width: 40px;
  height: 30px;
}
.image-text {
  background-color: lavender;
}
.child-2 {
}
.child-3 {
}
