html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
}
body {
  background-color: #dab894;
}
.header {
  text-align: center;
  font-weight: bolder;
  padding: 20px 20px 10px;
  color: #4a2511;
  width: 50vw;
  margin: 10px auto;
}
.main-header {
  font-size: 8rem;
}
#sub-header {
  font-size: 4rem;
}
.post-cake {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cake {
  background-color: #ecddd0;
  width: 40rem;
  height: 46rem;
  margin: 5rem auto;
  text-align: center;
  border: solid #4a2511;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #795c34;
}
.post-image {
  width: 24rem;
  height: 20rem;
  margin: 3rem auto;
  border-radius: 20px;
}
.post-words {
  padding-top: 4rem;
  font-size: 80%;
}
.cake-container {
  width: 33%;
  height: 60rem;
  
  font-size: 8rem;
}
